<div>
    <label>Manufacturer</label>
    <input type="text" name="manufacturer" value="<%= vehicle.manufacturer %>">
</div>
<div>
    <label>Model</label>
    <input type="text" name="model" value="<%= vehicle.model %>">
</div>
<div>
    <label>Vehicle Nickname</label>
    <input type="text" name="vehicleNickname" value="<%= vehicle.vehicleNickname %>">
</div>
<div>
    <label>Year</label>
    <input type="date" name="year"  value="<%= vehicle.name %>">
</div>


<!-- <label>Upload Vehicle Photo</label>
<input type="text" name="manufacturer" value="<%= vehicle.vehiclePhoto %>"> -->