<div class="text-banner">
    <h1>My Vehicles</h1>
</div>
<form action="/vehicles" method="GET">
    <label for="search">Vehicle</label>
    <input type="text" name="search" placeholder="enter text">
    <button type="submit">Search</button>
</form>
<a href="/vehicles/create">Add Vehicle</a>

<br>
<div class="vehicle-container">
<% vehicles.forEach(vehicle => { %>
    <div class="vehicle-child">
        <a href="/vehicles/<%= vehicle.id %>/edit"><p class="vehicleName"><%= vehicle.vehicleNickname %></p></a>
        <p>Manufacturer: <%= vehicle.manufacturer %></p>
        <p>Model: <%= vehicle.model %></p>
        <p>Model Year: <%= vehicle.year %></p>
        <p>Mileage: <%= vehicle.mileage %></p>
        <a href="/vehicles/<%= vehicle.id %>/edit">Edit</a>
        <a href="/vehicles/<%= vehicle.id %>/">Delete</a>
        <a href="/vehicles/<%= vehicle.id %>/logs">View History</a>
        <a href="/vehicles/<%= vehicle.id %>/newLog">Enter New Log</a>
    </div>
<% }) %>
</div>