<div>
    <label>Title</label>
    <input type="text" name="title" value="<%= log.title %>">
</div>
<div>
    <label>Date</label>
    <input type="date" name="date" value="<%= log.date %>">
</div>
<div>
    <label>Work Perfomed By</label>
    <input type="text" name="perfomedBy" value="<%= log.perfomedBy %>">
</div>
<div>
    <label>Overall Cost</label>
    <input type="text" name="overallCost"  value="<%= log.overallCost %>">
</div>
<div>
    <label>Describe the work completed</label>
    <textarea type="text" name="description"  value="<%= log.description %>"></textarea>
</div>